/* Fonts */

@font-face {
    font-family: "Frutiger W01";
    src: url("../content/fonts/Frutiger.ttf");
}

@font-face {
    font-family: "Frutiger W01";
    font-weight: bold;
    src: url("../content/fonts/Frutiger_Bold.ttf");
}

@font-face {
    font-family: "Publica Play";
    src: url("../content/fonts/PublicaPlay-Regular.otf");
}

.font-franklin-heavy {
    font-family: "Franklin Gothic Heavy", serif;
}

/* Default Global Configurations */

body {
    font-family: Frutiger W01, Arial, sans-serif;
}

@media (max-width: 576px) {
    html, body {
        width: auto !important;
        overflow-x: hidden !important
    }
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

/* Font Sizes */

.font-size-100 {
    font-size: 1.00rem;
}

.font-size-110 {
    font-size: 1.10rem;
}


.font-size-125 {
    font-size: 1.25rem;
}

.font-size-130 {
    font-size: 1.30rem;
}

/* Background Colours */

/*:root {*/
/*    --bl-primary: #F8C8DC;*/
/*    --bl-secondary: #F7DCE7;*/
/*    --bl-tertiary: #FAEDF2;*/
/*}*/

:root {
    --bl-primary: #0E1012;
    --bl-secondary: #1A1D20;
    --bl-tertiary: #212529;
}

.bl-bg-primary {
    background-color: var(--bl-primary)
}

.bl-bg-secondary {
    background-color: var(--bl-secondary)
}

.bl-bg-tertiary {
    background-color: var(--bl-tertiary)
}

/* Hover Underline for Navigation Bar */

.bl-pink-underline {
    display: inline-block;
    position: relative;
    padding-bottom: 0.25rem;
}

.bl-pink-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #F1B6AC;
    transition: width 0.25s ease-out;
}

.bl-pink-underline:hover::before {
    width: 100%;
}

/* Hover Border Shadow for Cards */

.bl-hover-shadow {
    border: 1px solid transparent; 
    box-shadow: none;
    transition: border-color 0.3s, box-shadow 0.3s; 
}

.bl-hover-shadow:hover {
    border-color: white; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

@media (min-width: 576px) {
    .container-small {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-small {
        width: 550px;
    }
}

@media (min-width: 992px) {
    .container-small {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    .container-small {
        width: 1150px;
    }
}

.container-small  {
    max-width: 100%;
}

/* Bootstrap Overrides */

.navbar-light, .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.accordion {
    --bs-accordion-active-bg: #F8C8DC;
    --bs-accordion-active-color: black;
}

.accordion-header {
    color: black    ;
}

